# perltidy
*.messy

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
rsnapshot
rsnapshot-diff
rsnapshot-diff.1
rsnapshot.1
rsnapshot.conf.default
t/*.t
t/support/etc/*.conf
t/support/snapshots/
