# perltidy
*.messy

aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
config.guess
config.sub
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
rsnapshot
rsnapshot-*.tar.gz
rsnapshot-diff
rsnapshot-diff.1
rsnapshot.1
rsnapshot.conf.default
t/include.ac
t/*.pm
t/*/*.t
t/*/conf/*.conf
t/support/snapshots/
